# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env

# Java / Maven / Spring Boot
backend/target/

# IDE files
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
*.env
backend/.env
service-account.json
*service-account*.json